.sns-parent {
  text-align: center;
}

.sns-share {
  display: inline-block;
  text-align: left;
}
.sns-share-btn {
  float: left;
  box-shadow: inset 0 0 0 2px #42464c;
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns-share-btn a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns-share-btn i {
  font-size: 20px;
  vertical-align: middle;
}
.sns-share-btn:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns-share-btn + .sns-share-btn {
  margin: 0 0 0 12px;
}

.sns-share-btn-tw:hover a {
  color: #1B95E0;
}

.sns-share-btn-line:hover a {
  color: #00B900;
}