<section class="section sns-parent">
  <div class="container sns-share flex justify-center gap-4">
    <div class="sns-share-btn sns-share-btn-tw">
      <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }} %7C {{ .Site.Title }}"
        target="_blank" title="Twitter" rel="nofollow"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

    <div class="sns-share-btn sns-share-btn-line">
      <a href="https://line.me/R/msg/text/?{{ .Title }}{{.Permalink }}" target="_blank" title="LINE" rel="nofollow"><i
          class="fa-brands fa-line"></i></a>
    </div>

    <div class="sns-share-btn sns-share-btn-qr">
      <a id="qr-toggle-btn" data-url="{{ .Permalink }}" title="QRでシェア">
        <i class="fa-solid fa-qrcode"></i>
      </a>
    </div>

  </div>
</section>

<!-- QRコードモーダル -->
<div id="qr-modal">
  <div class="modal-content">
    <button id="qr-close-btn" title="閉じる">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <h2>{{ .Title }}</h2>
    <div id="qr-code-container"></div>
    <h5>{{ .Site.Title }}</h5>
  </div>
</div>