{{ $code := .Inner}}
{{ $code := replace $code "  " "<br>" | safeHTML }}

{{ $color := "rgb(253, 95, 138)" | safeCSS }}

{{ $colorTrim := replace $color "rgb(" "" }}
{{ $colorTrim := replace $colorTrim ")" "" }}

{{ $rgba := printf "rgba(%s, 0.5)" $colorTrim | safeCSS }}

{{ $colorStyle := printf "color:%s" $color  | safeCSS }}
{{ if eq (.Get 0) "b" }}
{{ $colorStyle = printf "background: linear-gradient(transparent 80%%, %s 20%%);" $rgba| safeCSS }}
{{ end }}

{{ if hasSuffix $code "\n\n" }}
<p style="{{$colorStyle}}">{{$code}}</p>
{{ else }}
<span style="{{$colorStyle}}">{{$code}}</span>
{{ end }}